$white: #fff;
$neutral-10: #f8f9fa;
$neutral-20: #f1f3f5;
$neutral-30: #e9ecef;
$neutral-40: #dee2e6;
$neutral-50: #ced4da;
$neutral-60: #adb5bd;
$neutral-70: #868e96;
$neutral-80: #495057;
$neutral-90: #343a40;
$neutral-100: #212529;

$primary-10: #9BB8F2;
$primary-10-o: rgba(155, 184, 242, 0.1);
$primary-20: rgb(242, 160, 7, 0.5);
$primary-30: rgb(242, 116, 5, 0.5);
$primary-40: rgb(217, 61, 4, 0.5);
$primary-pure: #BF1304;
$primary-70: #F2A007;
$primary-80: #F27405;
$primary-90: #D93D04;
$primary-100: #BF1304;

//alerts
$alert-red-100: #ec3539;
$alert-red-10: #feebec;
$alert-red-10-o: rgba(236, 53, 57, 0.1);

$alert-green-100: #a6ce44;
$alert-green-10: #f7fbed;
$alert-green-10-o: rgba(28, 192, 102, 0.1);

$alert-warning-100: #fdd426;
$alert-warning-10: #fffbea;
$alert-warning-10-o: rgba(253, 212, 38, 0.1);


