{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Detalhes de Pessoa</h1>
        <div>
            <div>{{object.id}}</div>
			<div>{{object.data_criacao}}</div>
			<div>{{object.data_atualizacao}}</div>
			<div>{{object.usuario_criacao}}</div>
			<div>{{object.usuario_atualizacao}}</div>
			<div>{{object.novadatamodel_ptr}}</div>
			<div>{{object.nome}}</div>
			<div>{{object.email}}</div>
			<div>{{object.telefone}}</div>
			<div>{{object.cpf_cnpj}}</div>
        </div>
    </div>
{% endblock %}
