{% extends 'bases/base.html' %}
<!--  -->
{% load home_tags %}

<!--  -->
{% block content %}
<!--  -->
{% get_single_model_links lower_model object.id as single_model_links %}
<!--  -->
{% get_normal_model_links lower_model as normal_model_links %}
<!--  -->
{% include 'top_bar.html'%}

<main class="container-content min-h-[80vh]">
  <div class="card mt-32 p-24 flex flex-col gap-32 mb-48 md2:mt-0">
    {% block title %}
    <div class="flex justify-between md2:flex-wrap">
      <h1 class="title text-neutral-100">
        {{title|default:"Adicione uma variável chamada 'title' no contexto"}}
      </h1>
      {% block right_cta %}{% endblock %}
    </div>
    {% endblock %}

    <!--  -->

    {% block before_fields %}{% endblock %}

    <div class="flex flex-col gap-32">
      {% csrf_token %}
      <div class="grid grid-cols-3 gap-16 custom-gap">
        <div class="flex flex-col">
          <label
            class="label font-bold"
            for="{{object|get_attribute:'id,name'}}"
          >
            {{object|get_attribute:'id,verbose_name'}}
          </label>
          {{object.id}}
        </div>

        {% block fields %}
        <div class="flex flex-col">
          <label class="label" for="{{form.example.id_for_label}}">
            {{form.example.label}}
          </label>
          {{form.example}}
        </div>
        {% endblock %}

        <div class="flex flex-col">
          <label
            class="label font-bold"
            for="{{object|get_attribute:'data_criacao,name'}}"
          >
            {{object|get_attribute:'data_criacao,verbose_name'}}
          </label>
          {{object.data_criacao}}
        </div>
        <div class="flex flex-col">
          <label
            class="label font-bold"
            for="{{object|get_attribute:'data_atualizacao,name'}}"
          >
            {{object|get_attribute:'data_atualizacao,verbose_name'}}
          </label>
          {{object.data_atualizacao}}
        </div>
        <div class="flex flex-col">
          <label
            class="label font-bold"
            for="{{object|get_attribute:'usuario_criacao,name'}}"
          >
            {{object|get_attribute:'usuario_criacao,verbose_name'}}
          </label>
          {{object.usuario_criacao}}
        </div>
        <div class="flex flex-col">
          <label
            class="label font-bold"
            for="{{object|get_attribute:'usuario_atualizacao,name'}}"
          >
            {{object|get_attribute:'usuario_atualizacao,verbose_name'}}
          </label>
          {{object.usuario_atualizacao}}
        </div>

        {% block extra_fields %} {% endblock %}
      </div>

      <div class="flex gap-16 justify-between">
        <div>
          <a class="btn red" href="{{single_model_links.delete}}">
            {% if single_model_links.delete %}
            <!--  -->
            Excluir
            <!--  -->
            {% else %}
            <!--  -->
            Adicione uma variável chamada 'delete_link' no contexto
            <!--  -->
            {% endif %}
          </a>
        </div>
        <div>
          {% block extra_buttons %}{% endblock %}

          <a class="btn secondary" href="{{normal_model_links.list}}">
            {% if normal_model_links.list %}
            <!--  -->
            Voltar à listagem
            <!--  -->
            {% else %}
            <!--  -->
            Adicione uma variável chamada 'cancel_link' no contexto
            <!--  -->
            {% endif %}
          </a>

          <a class="btn primary" href="{{single_model_links.update}}">
            {% if single_model_links.update %}
            <!--  -->
            Editar
            <!--  -->
            {% else %}
            <!--  -->
            Adicione uma variável chamada 'update_link' no contexto
            <!--  -->
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
